@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Comfortaa:wght@500&family=Fasthand&family=Lora:ital,wght@0,600;1,500&family=Montserrat&family=Nanum+Gothic+Coding:wght@400;700&family=Open+Sans&family=Poppins:wght@200;500&family=Raleway&family=Sacramento&family=Source+Code+Pro:wght@600&family=Ubuntu:wght@400;700&display=swap');
/* font-family: 'Raleway', sans-serif; */


.App{
    min-height: 100vh;
    display: flex;
    background-color: black;
}